.nextflow*
null
work/
test_data/
results
results/*
.DS_Store
testing/
testing*
test
tes.sh
*.pyc
stub-data
conf/dhslab_test.config
._nextflow*
._README.md
stub-test
.vscode
.devcontainer
.editorconfig
.prettierignore
.prettierrc.yml
modules/.dir_bash_history
**/.dir_bash_history
scripts.sh